/* Color Palette
    Blue #7FCAAC
    Yellow #F3BF2A
    Brown #92623B
    Gray #383838 
*/
/* GLobal styles
--------------------*/
body{
    background-image: url("../images/vintage-wallpaper.png"); /*Photo by Paweł Czerwiński on Unsplash*/    
    background-attachment: fixed;
    color: #7FCAAC; 
    font-family: Georgia, 'Times New Roman', Times, serif;    
 }
h1 {
    font-family: 'Permanent Marker', cursive;   
    font-size: 2.5rem;    
}
h2 {
    font-size: 2rem;   
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Main body styles
--------------------*/
img {
    width: 50%;  
    margin-top: 10%;  
}
#heading {
    margin-top: 25px;
    margin-bottom: 25px;
}
.player {
    margin-top: 10%;  
}
.btn-group {
    margin-left: 10%;
    margin-top: 10%;
}
.button {
    margin-top: 2%;   
}
#popup {
    max-width: 200px;
    width: 70%;
    max-height: 80px;
    height: 60%; 
    padding: 10px;
    position: absolute;
    background: #7FCAAC;   
    color: #383838 ;
    font-size: 2rem;    
    left: 50%;
    margin-left: -25%;
    top: 50%;
    margin-top: -30%;
    visibility: hidden;
}
#reset {
    background-color: gray;
    border: none; 
    margin-top: 5%;   
    margin-bottom: 50px;
}